body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'roboto' , sans-serif;
}
a{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
a:visited{
    color: purple;
}
a:hover,a:focus{
   background: gold
   /* color: red;*/
}
a:active{
    color: red;
}